# .gitignore

# I will store all of the SUPER SECRET stuff in these files:
roles/*/vars/main.yml

# Ignore Ansible inventory files
inventory.ini

# Ignore ALL sensitive Terraform Telmate provider clone vm files:
telmate_terraform-clone-vm/cloudinit/*
telmate_terraform-clone-vm/terraform.tfvars

# Ignore ALL sensitive Terraform BPG provider create vm template files:
bpg_terraform-create-vm-template/terraform.tfvars

# Ignore these Terraform files
terraform/.env
terraform/credentials.auto.tfvars
terraform/.terraform/
terraform/.terraform.lock.hcl
terraform/*.tfstate
terraform/*.tfstate.*